.DS_Store
__pycache__
sample.txt
sample1.txt
example.txt
file.txt
new_file.txt
s03t00_lambda_expression.py
s03t01_clear_words_main.py
s03t02_the_extractor_main.py
s03t03_read_file_main.py
s03t04_write_main.py
s03t05_load_json_main.py
s03t06_dump_json_main.py
s03t08_multiplier_main.py
s03t09_raise_main.py
s03t10_group_main.py
.idea
test.py
.idea/.name
.idea/alapatan.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
