.DS_Store
__pycache__
bubble_sort.cpython-39.pyc
s02t00_tuple_main.py
s02t01_dict_main.py
s02t02_set_main.py
s02t03_bubble_sort_main.py
s02t04_unique_main.py
s02t05_regex_main.py
s02t06_generators_main.py
s02t07_contacts_main.py
s02t08_contains_main.py
s02t09_fibonacci_main.py
.idea
test.py
.idea/.name
.idea/alapatan.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
